.active{
    stroke-width:2px;
    stroke-linejoin: round;
    cursor: pointer;
    fill: white;
    border: 2px solid black !important;
}

path:hover, circle:hover {
    stroke: black !important;
    stroke-width:4px;
    stroke-linejoin: round;
    cursor: pointer;
}

path {fill: lightgray; stroke: black}

#legenda-div{margin-top: 75px !important;}

.publico {fill: green; background-color: green}
.coletivo {fill: blue; background-color: blue}
.particular {fill: yellow; background-color: yellow}
.privado {fill: orange; background-color: orange}
.difuso {fill: darkorchid ; background-color:darkorchid}
.baldio {fill: saddlebrown ; background-color: saddlebrown}
.apagar{background-color: lightgray}

.publico.coletivo{fill: url(#publico_coletivo)}
.publico.particular{fill: url(#publico_particular)}
.publico.privado{fill: url(#publico_privado)}
.publico.difuso{fill: url(#publico_difuso)}
.publico.baldio{fill: url(#publico_baldio)}
.coletivo.particular{fill: url(#coletivo_particular)}
.coletivo.privado{fill: url(#coletivo_privado)}
.coletivo.difuso{fill: url(#coletivo_difuso)}
.coletivo.baldio{fill: url(#coletivo_baldio)}
.particular.privado{fill: url(#particular_privado)}
.particular.difuso{fill: url(#particular_difuso)}
.particular.baldio{fill: url(#particular_bladio)}
.privado.difuso{fill: url(#privado_difuso)}
.privado.baldio{fill: url(#privado_baldio)}
.difuso.baldio{fill: url(#difuso_baldio)}
.publico.coletivo.particular{fill: url(#publico_coletivo_particular)}
.publico.coletivo.privado{fill: url(#publico_coletivo_privado)}
.publico.coletivo.difuso{fill: url(#publico_coletivo_difuso)}
.publico.coletivo.baldio{fill: url(#publico_coletivo_baldio)}
.publico.particular.privado{fill: url(#publico_particular_privado)}
.publico.particular.difuso{fill: url(#publico_particular_difuso)}
.publico.particular.baldio{fill: url(#publico_particular_baldio)}
.publico.privado.difuso{fill: url(#publico_privado_difuso)}
.publico.privado.baldio{fill: url(#publico_privado_baldio)}
.publico.difuso.baldio{fill: url(#publico_difuso_baldio)}
.coletivo.particular.privado{fill: url(#coletivo_particular_privado)}
.coletivo.particular.difuso{fill: url(#coletivo_particular_difuso)}
.coletivo.particular.baldio{fill: url(#coletivo_particular_baldio)}
.coletivo.privado.difuso{fill: url(#coletivo_privado_difuso)}
.coletivo.privado.baldio{fill: url(#coletivo_privado_baldio)}
.coletivo.difuso.baldio{fill: url(#coletivo_difuso_baldio)}
.particular.privado.difuso{fill: url(#particular_privado_difuso)}
.particular.privado.baldio{fill: url(#particular_privado_baldio)}
.particular.difuso.baldio{fill: url(#particular_difuso_baldio)}
.privado.difuso.baldio{fill: url(#privado_difuso_baldio)}
.publico.coletivo.particular.privado{fill: url(#publico_coletivo_particular_privado)}
.publico.coletivo.particular.difuso{fill: url(#publico_coletivo_particular_difuso)}
.publico.coletivo.particular.baldio{fill: url(#publico_coletivo_particular_baldio)}
.publico.coletivo.privado.difuso{fill: url(#publico_coletivo_privado_difuso)}
.publico.coletivo.privado.baldio{fill: url(#publico_coletivo_privado_baldio)}
.publico.coletivo.difuso.baldio{fill: url(#publico_coletivo_difuso_baldio)}
.publico.particular.privado.difuso{fill: url(#publico_particular_privado_difuso)}
.publico.particular.privado.baldio{fill: url(#publico_particular_privado_baldio)}
.publico.particular.difuso.baldio{fill: url(#publico_particular_difuso_baldio)}
.publico.privado.difuso.baldio{fill: url(#publico_privado_difuso_baldio)}
.coletivo.particular.privado.difuso{fill: url(#coletivo_particular_privado_difuso)}
.coletivo.particular.privado.baldio{fill: url(#coletivo_particular_privado_baldio)}
.coletivo.particular.difuso.baldio{fill: url(#coletivo_particular_difuso_baldio)}
.coletivo.privado.difuso.baldio{fill: url(#coletivo_privado_difuso_baldio)}
.particular.privado.difuso.baldio{fill: url(#particular_privado_difuso_baldio)}
.publico.coletivo.particular.privado.difuso{fill: url(#publico_coletivo_particular_privado_difuso)}
.publico.coletivo.particular.privado.baldio{fill: url(#publico_coletivo_particular_privado_baldio)}
.publico.coletivo.particular.difuso.baldio{fill: url(#publico_coletivo_particular_difuso_baldio)}
.publico.coletivo.privado.difuso.baldio{fill: url(#publico_coletivo_privado_difuso_baldio)}
.publico.particular.privado.difuso.baldio{fill: url(#publico_particular_privado_difuso_baldio)}
.coletivo.particular.privado.difuso.baldio{fill: url(#coletivo_particular_privado_difuso_baldio)}
.publico.coletivo.particular.privado.difuso.baldio{fill: url(#publico_coletivo_particular_privado_difuso_baldio)}